<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Mname:</strong>
  <%= @customer.mname %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @customer.uf %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @customer.birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @customer.annotation %>
</p>

<%= link_to I18n.t('links.edit'), edit_customer_path(@customer) %> |
<%= link_to I18n.t('links.back'), customers_path %>
