<p id="notice"><%= notice %></p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>Type address:</strong>
  <%= @address.type_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @address.complement %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @address.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Note:</strong>
  <%= @address.note %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
